#image {
  width: 200px;
  height: 100%;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  font-size: 20px;
  color: white;
}

#decrease-btn {
  background-color: darkred;
}
#increment-btn {
  background-color: darkgreen;
}

#reset-btn {
  background-color: rgb(90, 71, 47);
}
